.chats {
    max-width: 700px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8rem;
    scroll-behavior: smooth;
    width: 100%;
}
.chats::-webkit-scrollbar-track {
    background: #2e2e2e;  /* Track background */
    border-radius: 10px;
}
.chats::-webkit-scrollbar-thumb {
    background: #339cff;  /* Scroll thumb color */
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb:hover {
    background: #0a7cee;  /* Scroll thumb on hover */
}
.chats::-webkit-scrollbar {
    width: 8px;
}
.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;

}
.gptDiv{
    text-align: left;
    font-size: 0.9rem;

}
.userMessage{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;

}
.hljs{
    border-radius: 14px !important;
}
pre{
    white-space: pre-wrap;
}